.servicesWrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 20px;
}

.services{
    max-width: 417px;
    border-bottom: 1px solid #DADADA;
padding-bottom: 20px;

}
.headerServices{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 16px;
}
.title{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #333333;
    padding-bottom: 8px;
    padding-right: 20px;
}

.blockServices{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: 1px solid rgba(51, 51, 51, 1);


;
}
.wrapperItems{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    gap: 20px;
    align-items: center;

}

.block1{
    min-width: 300px;
}
.block2{
border: 1px solid red;
    background: red;
}

.nameServices {
    white-space: nowrap;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    color: #333333;
    padding-left: 10px;
}

.valueServices{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #333333;
}

.totalServices{
    display: flex;
    justify-content: space-between;
    max-width: 335px;
    width: 100%;
    padding: 20px 20px 0 0;
}


@media screen and (max-width: 415px) {
    .services{
        max-width: 329px;

    }
    .totalServices{
        width: 90%;
    }
}