.topBlockItem{
    display: flex;
     gap: 20px;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}
.text{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #333333;
    padding: 20px;
    background: #F2FBFF;
    border: 1px solid #C4CBCF;
    box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.1);
}
.author{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    color: #333333;
}

.dateCreated{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #808080;
}
.wrapperItem{
    padding: 0 20px;
}
